* {
  box-sizing: border-box;
}

body {
  background: #032962;
  font-family: 'Helvetica Neue', sans-serif;
  color: #989898;
}

#todo-table {
  position: relative;
  width: 80%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#todo-table form:after {
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type="text"] {
  width: 70%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

button {
  padding: 20px;
  width: 30%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #04347b;
  border: 1px solid rgba(40, 40, 40, 0.7);
  margin-bottom: 5px;
}
div.id {
  display: none;
}

li:hover {
  text-decoration: line-through;
  background: rgba(0, 52, 127, 0.7);
}

h1 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}